.Weather-header {
  background-color: #fff;
  color: black;
  border-bottom: 1px solid #fcf8f3;
  padding: 0 0 30px 0;
}

.Weather .Search-input {
  background: #fcf8f3;
  border: none;
  padding: 15px 20px;
  width: 100%;
  font-size: 16px;
  border-radius: 6px;
}

.Weather .btn {
  background-color: #eca04e;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 15px 0;
}

.Weather-data {
  margin-top: 20px;
}

.Weather-data h1 {
  font-size: 50px;
  line-height: 48px;
  font-weight: 700;
  margin: 20px 0 10px;
}

.Weather-data p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
  margin-bottom: 0;
}

.Weather-data p strong {
  color: #a35928;
}

.Weather-data .Weather-temperature-container {
  align-items: center;
  margin-top: 30px;
}

.Weather-data .Weather-temperature-container .Weather-app-icon {
  width: 88px;
  height: 88px;
}

.Weather-data .Weather-temperature-container .Weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.Weather-data .Weather-temperature-container .Weather-app-unit {
  font-size: 28px;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  line-height: 1;
  position: relative;
  top: -17px;
}

.Weather-forecast {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #f9f7fe;
  margin: 40px 0;
  padding-bottom: 50px;
  text-align: center;
}

.Weather-forecast .Forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.Weather-forecast .Forecst-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.Weather-forecast .Forecast-temperatures {
  text-align: center;
  color: #a35928;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.Weather-forecast .Forecast-temperature {
  padding: 0 10px;
}

.footer {
  padding: 30px 0 0 0;
  border-top: 1px solid #fcf8f3;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.footer a {
  color: #eca04e;
}
