body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Weather-app {
  background: white;
  max-width: 750px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px;
}

.Weather-app main {
  padding: 30px 0;
}
